.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Flutter/
ios/Pods/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/

